*
{
	padding:0;
	margin:0;
}
body
{
	background-color:#990000;
	text-align:center;
}
.Content
{
	width:1000px;
	margin: 0 auto;
	border: thin solid #FFFFFF;
	background:#666666 url(spacer.gif) repeat-y left top;
	text-align:left;

}
#Page
{
	width:1000px;
	margin: 0 auto;
}
.Content2
{
	width:1000px;
	margin: 0 auto;
	border: thin solid #FFFFFF;
	background:#000000 url(spacer.gif) repeat-y left top;
	text-align:left;

}
.LeftColumn
{
	width: 250px;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 450px;
	background-color: #666666;
	padding-bottom: 50px;
	float: left;
	background-image: url(titleImage.jpg);
}

#Navigation {
	FONT-SIZE: 14px;
	HEIGHT: 100%;
	padding-left: 10px;
	padding-right:10px;
}
#Navigation A {
	COLOR: #ffffff;
	TEXT-DECORATION: underline;
	margin-left: 10px;
}
#Navigation A:hover {
	TEXT-DECORATION: none
}
#Navigation H3 A {
	MARGIN-LEFT: 0px; 
}
#Navigation h3
{
	color: #FFFFFF;
}
#Navigation p
{
	color: #FFFFFF;
}

.RightColumn
{
	background-color: #000000;
	float: right;
	margin: 0 auto;
	background-image: url(Header.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.Header
{
	height: 84px;
}
.Header h1
{
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	width: 750px;
	top: 60px;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	left: -20px;
}
#SearchPanel
{
	background-color: #FFFFFF;
	height: 53px;
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: bottom;
	padding-top: 4px;
	font-size: 12px;
}
#SearchTable
{
	float:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	padding-right: 40px;
	vertical-align: text-top;
}
#StoreTable
{
	float:right;
	text-align:right;
	padding-bottom: 3px;
}
#StoreTable a
{
	color:#000000;
}

#MainArea
{
	COLOR: #ffffff;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	width: 685px;
}
.CardPaymentForm
{
	COLOR: #ffffff;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
}
#MainArea h2
{
	FONT-SIZE: 18px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}
#MainArea h3
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#MainArea img
{
	BORDER: #ffffff 1px solid;
}
#MainArea p
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-ALIGN: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}
#MainArea a
{
	COLOR: #cccccc; 
	TEXT-DECORATION: underline
}

#MainArea a:hover
{
	text-decoration:none;
}
#Footer
{
	clear:both;
	background-color: #990000;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	text-align: center;
}
.Button
{
	color: #FFFFFF;
	background-color: #000000;
	border: 1px solid #FFFFFF;
}
#IntroArea
{
}
#NewsArea
{
	margin-top: 50px;
	margin-bottom: 50px;
}
#CatalogArea
{
	margin-top: 50px;
	margin-bottom: 50px;
}
#CatalogArea p
{
	font-size:10px;
}
#NewCollectionArea
{
	margin-top: 50px;
	margin-bottom: 50px;
}
.itemdescription {
	BORDER: #ffffff 1px solid;
	BACKGROUND-COLOR: #666666;
	TEXT-ALIGN: center;
	font-size: 12px;
    height: 147px;
	width: 340px;
}
.LookingMore
{
	text-align: right;
	margin-top: 10px;
	margin-bottom: 50px;
}
.secondmenu
{
	font-size: 12px;
	color: #FFFFFF;
}
.secondmenulink 
{
	font-size: 12px;
	color: #FFFFFF;
}
.copyright
{
	color: #FFFFFF;
	font-size: 12px;
}
.mail
{
	color: #FFFFFF;
	font-size: 12px;
}
.SroreAddress
{
	padding-left: 20px;
}
.CartTableBody
{
	background-color: #FFFFFF;
	color: #000000;
}
#StorePanel a
{
	color: #333333;
}
.orderbutton {
	BORDER: 1px solid #ffffff;
	FONT-SIZE: 14px;
	COLOR: #F7F8FD;
	BACKGROUND-COLOR: #666666;
	padding:2px;
}
.CartTableHead
{
	color: #FFFFFF;
	background-color: #333333;
	text-align: center;
}
.questionstext {
	BORDER: #000000 1px dotted; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;  
	COLOR: #000000;  
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #ebebeb
}
.answertext {
	BORDER: #000000 1px dotted; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.alltable {
	BORDER: #ffffff 1px solid; 
}
.tablebody {
	BORDER :#000000 thin dotted; 
	PADDING-RIGHT: 3px;  
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 3px;  
	COLOR: #000000; 
	PADDING-TOP: 3px;  
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #ffffff
}
.OrderNumber
{
	font-size:x-large;
}
#StoreArea
{
	text-align:right;
}
#StoreArea p
{
 text-align:right;
}
#MapArea p
{
	MARGIN-TOP: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 14px; 
	MARGIN-BOTTOM: 10px; 
	COLOR: #ffffff; 
	FONT-STYLE: italic; 
	FONT-FAMILY: "Times New Roman", Times, serif; 
	TEXT-ALIGN: right;
}
#MapArea a
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #cccccc; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: underline;
	font-style:normal;
}
.SearchItemdescription {
	BORDER: #ffffff 1px solid; 
	FONT-SIZE: 12px; 
	WIDTH: 340px;
	HEIGHT: 147px; 
	BACKGROUND-COLOR: #666666; 
	TEXT-ALIGN: center
}
.itemImage {
	FLOAT: left
}
.navigationbar {
	BORDER: #ffffff 1px solid;
	padding-left: 10px; 
}
.shopButton {
	BORDER: #ffffff 1px solid; 
	PADDING: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px;  
	COLOR: #ffffff; 
	PADDING-TOP: 3px;  
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right; 
	TEXT-DECORATION: none
}
#ProductArea {
	MARGIN-BOTTOM: 30px; WIDTH: 680px
}
#ProductArea H4 {
	FONT-SIZE: 16px
}
#MainProductItemArea {
	FLOAT: left;
	WIDTH: 520px;
	padding-right: 10px;
	text-align:left;
}
#ExtraProductItemArea {
	FLOAT: right; WIDTH: 150px; text-align:left;
}
#ExtraProductItemArea IMG {
	WIDTH: 150px; HEIGHT: 150px
}
.ProductItemDescription {
	COLOR: #cccccc
}
.ProductItemPrice {
	FONT-WEIGHT: bold; FONT-SIZE: larger
}
.ExtraImage {
	WIDTH: 150px;
	HEIGHT: 150px;
	border: 1px solid #FFFFFF;
}
.MainImage
{	
	border: 1px solid #FFFFFF;
	width:500px;
	height:500px;
}

.marked 
{
    color:#990000;
    font-weight:bold;
    text-decoration:underline;
    font-style:italic;
}
.ErrorNote
{
    color:#990000;
    font-weight:bold;
}

.topPager
{
    font-size: large;
    font-style: italic;
}
.curPage
{
    font-size: x-large;
    font-weight: bold;
}
#catDescription p
{
    font-size: smaller;
    font-weight: normal;
}