<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the
                 requirePermission="false" attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>
    <section name="echo" type="echo.BLL.EchoSection, __code" />
  </configSections>
  <echo defaultConnectionStringName="OrdersEntities">
    <contactForm mailFrom="info@echo-h.ru" mailCopy="orders@echo-h.ru" />
    <store defaultTitle="Эхо Голливуда - Интернет магазин обуви и одежды &quot;Echo Of Hollywood&quot;. Тотальное снижение цен на период летнего сезона!!!  Обувь и одежда для стриптиза, танцев, шоу. Эротическое нижнее белье, вечернее платья, выходная обувь." />
    <platinumproduct platinumGroupId="9" showInEcho="false" />
    <!--<platinumextraproduct platinumGroupId="2,7"/>-->
  </echo>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="echoConnectionString" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
    <!--       <errorMail from="info@echo-h.ru" to="kitaev_klim@mail.ru" subject="Error From Site echo-h.ru" async="true" smtpServer="mail.echoofhollywood.com" userName="postmaster%echoofhollywood.com" password="sdfkdfjfASDS223d" />-->
  </elmah>
  <appSettings />
  <connectionStrings>
    <!-- <add name="echoConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\WebSites\echo-h3\App_Data\echoof.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="ProductsEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\echoof.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InfoEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\echoof.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OrdersEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\echoof.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Для локального сервера-->
    <!--  <add name="echoConnectionString" connectionString="Data Source=ECHO\MSQLSERVER2008;Initial Catalog=echo-h3;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="ProductsEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ECHO\MSQLSERVER2008;Initial Catalog=echo-h3;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="InfoEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ECHO\MSQLSERVER2008;Initial Catalog=echo-h3;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="OrdersEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ECHO\MSQLSERVER2008;Initial Catalog=echo-h3;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Для хостинга-->
    <!-- <add name="echoConnectionString" connectionString="Server=(local);Database=echoofhollywood_com;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
      <add name="ProductsEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Server=(local);Database=echoofhollywood_com;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="InfoEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Server=(local);Database=echoofhollywood_com;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="OrdersEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Server=(local);Database=echoofhollywood_com;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Для локального доступа к базе-->
    <add name="echoConnectionString" connectionString="Server= home.echo-h.ru.postman.ru, 64000;Database=echo-h_ru;User=vh39626;Password=5iXf9iSSAY;" providerName="System.Data.SqlClient" />
    <add name="ProductsEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Server= home.echo-h.ru.postman.ru, 64000;Database=echo-h_ru;User=vh39626;Password=5iXf9iSSAY;;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InfoEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Server= home.echo-h.ru.postman.ru, 64000;Database=echo-h_ru;User=vh39626;Password=5iXf9iSSAY;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OrdersEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Server= home.echo-h.ru.postman.ru, 64000;Database=echo-h_ru;User=vh39626;Password=5iXf9iSSAY;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpRuntime requestValidationMode="2.0" />
    <roleManager enabled="true" defaultProvider="EchoRolesProvider" cacheRolesInCookie="true" cookieName="ECHOROLES">
      <providers>
        <add name="EchoRolesProvider" connectionStringName="echoConnectionString" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <customErrors defaultRedirect="Default.aspx" />
    <sessionState mode="InProc" cookieless="false" timeout="400" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="Admin/Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="tester,klim"/>
      <deny users="*"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <membership defaultProvider="echoMemberShipProvider">
      <providers>
        <add name="echoMemberShipProvider" connectionStringName="echoConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <anonymousIdentification cookieless="UseCookies" enabled="true" />
    <machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1" />
    <profile defaultProvider="echoProfileProvider">
      <providers>
        <add name="echoProfileProvider" connectionStringName="echoConnectionString" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <add name="FirstName" type="String" />
        <add name="LastName" type="String" />
        <add name="MiddleName" type="String" />
        <group name="Address">
          <add name="CountryId" type="Int32" />
          <add name="CityId" type="Int32" />
          <add name="RegionTypeId" type="echo.BLL.Orders.RegionType" />
          <add name="City2" type="String" />
          <add name="PostalCode" type="String" />
          <add name="Address" type="String" />
          <add name="Street" type="String" />
          <add name="House" type="String" />
          <add name="Building" type="String" />
          <add name="Room" type="String" />
        </group>
        <group name="Contacts">
          <add name="Phone" type="String" />
          <add name="fromContact" type="String" />
          <add name="toContact" type="String" />
        </group>
        <add name="ShoppingCart" type="echo.BLL.Orders.ShoppingCart" serializeAs="Binary" allowAnonymous="true" />
      </properties>
    </profile>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="URLRewrite" type="echo.BLL.URLRewrite" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <!--        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.echoofhollywood.com" userName="postmaster%echoofhollywood.com" password="sdfkdfjfASDS223d" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="PHPviaFastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\php-cgi.exe|-c c:\php\php.ini -d sendmail_from=1895044@undeliverable.zenon.net" resourceType="Either" />
        </handlers>
  </system.webServer>
</configuration>